<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/vue"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Matador de Monstro</title>
</head>
<body>
    <div id="app">
        <div class="panel scores">
            <div class="score">
                <h1>Player</h1>
                <div class="life-bar">
                    <div class="life"
                    :class="{danger: playerLife < 20}"
                    :style="{width: playerLife + '%'}"></div>
                </div>
                <div>{{playerLife}}%</div>
            </div>
            <div class="score">
                <h1>Monster</h1>
                <div class="life-bar">
                    <div class="life"
                    :class="{danger: monsterLife < 20}"
                    :style="{width: monsterLife + '%'}"></div>
                </div>
                <div>{{monsterLife}}%</div>
            </div>

        </div>
        <div v-if = "hasResult" class="panel result">
            <div v-if = "monsterLife == 0" class = "win">You Win :)</div>
            <div v-else class="lose">You Lose :( </div>
        </div>
        <div class="panel buttons">
            <template v-if="isRunning">
                <button class="btn attack" @click="attack(false)">Attack</button>
                <button class="btn special" @click="attack(true)">Special</button>
                <button class="btn heal" @click="healAndHurt">Heal</button>
                <button class="btn reset" @click="startGame">Reset</button>
                <button class="btn quit" @click="quitGame">Quit</button>
            </template>
            <button v-else class="btn start" @click="startGame">Start</button>
        </div>
        <div v-if="logs.length" class="panel logs">
            <ul>
                <li v-for="log in logs" class="log" :class="log.cls">{{log.text}}</li>
            </ul>
        </div>
    </div>

    <script src="app.js"></script>
</body>
</html>